@{
    ViewData["Title"] = "Home Page";
    @using System.Data
    @using Anna;
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        @{DataRowCollection Channels =  Db.ExecSqlCollection("Select Distinct Channel from Log;",new object[] {});}
        <table> <tr>
            @{
            foreach (DataRow dataRow in Channels)
                    {
                        <td><a href="/ALogs/All">@dataRow.ItemArray[0]</a></td>
                    }
                    }
        </tr></table>  
    
</div>