@{
    ViewData["Title"] = "Home Page";
    @using System.Data
    @using Anna;
    string asd = String.Empty;
}

<div class="text-center">
    <h1 style="margin-top:2%" class="display-4" id="TitleIndex">Wybór kanału</h1>
    @{
        DataRowCollection Channels = Db.ExecSqlCollection("Select Distinct Channel from Log;", new object[] { });
    }
    <form asp-controller="ALogs" asp-action="ChannelLogs">
        <input list="channels" asp-for="@asd">
        <datalist id="channels">
            @foreach (DataRow dataRow in Channels)
            {
                <option value="@dataRow.ItemArray[0]"></option>
            }
        </datalist>
        <br /><br />
        <input type="submit" value="Zatwierdz" />
    </form>

</div>